@{    
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h2>@ViewData["Greeting"]</h2>
    <p>We are going to have an exciting party!</p>
    <br/>
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="RsvpForm">RsvpForm</a>
</div>
